{% extends 'OCPlatformBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter{% endblock %}

{% block body %}
    <h2>Ajouter une annonce</h2>

    {{ include('OCPlatformBundle:Advert:form.html.twig') }}

    <p>Attention: cette annonce sera ajouté directement sur la page d'accueil après validation du formulaire</p>

{% endblock %}